:root {
  --primary-color: hwb(245 53% 12%);
  --secondary-color: hwb(208 47% 23%);
  --text-color: #333;
  --button-color: #008cba;
  --button-hover-color: #005f73;
  --border-radius: 5px;
  --font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.list-item {
  list-style-type: none;
  padding: 30px 20px;
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-field {
  display: flex;
  gap: 6px;
  flex-direction: column;
  max-width: fit-content;
  justify-items: center;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
  color: var(--text-color);
  margin-bottom: 20px;
}

.todo-list {
  max-width: 500px;
  background-color: var(--secondary-color);
  min-height: fit-content;
}

.trackList {
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.delete-button {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.delete-button:hover {
  background-color: var(--button-hover-color);
}

.submit {
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.submit:hover {
  background-color: var(--button-hover-color);
}

input[type="text"] {
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  color: var(--text-color);
}

input[type="text"]:focus {
  outline: none;
  border-color: var(--button-color);
}
